{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

{% for message in messages %}
    <h2 class="register_error">{{ message }}</h2>
{% endfor %}
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="login_elements">

            <h1 class="sign">SIGN-UP</h1>

            <label for=".username2">Username: </label>
            <input type="text" class="username2" name="username" maxlength="22">
            <ul>
                <li><span class="help_text">The username should have a maximum of 22 characters.</span></li>
            </ul><br>
            <label for=".password2">Password:</label>
            <input type="password" class="password2" name="password" required="required" ><br>
            <label for=".password_conf">Password Confirmation:</label>
            <input type="password" class="password_conf" name="password_conf" required="required" >
            <ul>
                <li><span class="help_text">Enter the same password.</span></li>
            </ul><br>
            <button type="submit">Register</button>

        </div>
    </form>

{% endblock content %}